@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --transition-time-and-fun: .5s ease-in-out;
}

@media  only screen and (max-width: 700px) {
    :root{
        --transition-time-and-fun: .3s ease-in-out;
    }
    // body{
    //     background-color: red;
    // }        
}

span{
    display: block;
}

.container{
    display: flex;
    // place-items: center;
    margin-top: 5rem;
    transition: top var(--transition-time-and-fun),
                left var(--transition-time-and-fun),
                position var(--transition-time-and-fun);

}


.container.active{
    // margin-top: 0;
    position: sticky;
    top: 1rem;
    left: 10%;
}

.text-span{
    
    // outline: 2px solid red;
    --animation-time: 7.5s;
    font-size: 3rem;
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Cookie', cursive;
    font-weight: 400;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: transform var(--transition-time-and-fun),
                left var(--transition-time-and-fun);
                

                
    // background-image: url(../image/2x-red.jpg);
    // background-size: 200%;
    // background-position: left 75%;
    // background-repeat: no-repeat;
    // background-clip: text;

    // animation: text-animaiton var(--animation-time) linear infinite;
    // color: transparent;
    // color: rgba(0, 0, 0, 0.315);
    // color: transparent;
    // -webkit-text-stroke: 1px black;
}

// @keyframes text-animaiton {

//     25%{
//         background-position: 25% 50%;
//     }  
    
//     50%{
//         background-position: 50% 25%;
//     }

//     75%{
//         background-position: 75% 50%;
//     }

//     100%{
//         background-position: 100% 75%;
//     }

// }
.text-span.active{
    // --animation-time: 4s; 
    left: 10%;
    transform: translateX(0);
    background-size: cover;
    transition: transform var(--transition-time-and-fun),
    left var(--transition-time-and-fun);
    color: black;
    font-size: 2rem;
    // font-weight: 400;

}

.wrapper{
    display: inline;
    opacity: 1;
    // transition: var(--transition);
    transition: width var(--transition-time-and-fun),
                opacity var(--transition-time-and-fun),
                transform var(--transition-time-and-fun);

}

.wrapper.active{
    width: 0 !important;
    opacity: 0;
    transform: translateY(-100%);
}

// .oth{
//     position: relative;
// }
 